body{
    background:rgb(240, 202, 53);
    /* background-image: url("./OIP.png");
    /* font-family: “Comic Sans MS”, “Comic Sans”, cursive; */
    /* background-size: 1200px; */
    font-family: 'Josefin Sans', sans-serif;
}

.tooladd{
    padding-top: 30px;
    /* margin-top: 500px; */
}

.heading{
    /* font-family: “Comic Sans MS”, “Comic Sans”, cursive; */
    font-family: 'Josefin Sans', sans-serif;
}

.navi {
    background: rgb(240, 202, 53);;
    font-size: 15px;
}

.navi:hover{
    background: black;
}

.navbutton{
    /* padding-top: 40px; */
    padding-left: 10px;
}

.name{
    margin-top: 200px;
}
.first{
    
    margin-left: 0;
}
.parent{
    display: flex;
}
.requiredimages{
    border-radius: 25px;
    height: 600px;
    width: 100%;
}
.box{
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 3s;
  background-color: #0652DD;
}
.transformed-state {
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 3s;
    background-color: red;
}



